body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 30px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    min-width: 150px;
    margin-bottom: 5px;
    gap: 30px;
}

.remove-button {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: cover;
    background-image: url("./images/cross.png");
    &:hover {
        cursor: pointer;
    }
}

.removed {
    text-decoration: line-through;
    & .remove-button {
        display: none;
    }
}